<div class="popup" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>
		<div class="fields">
			<div class="fieldset">
				<div class="row">
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ENCRYPT_YOU_KEY'}"></span>
				</div>
				<div class="row">
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_KEY_PASSWORD'}"></span>
					<input class="value input" autocomplete="new-password" type="password" spellcheck="false" maxlength="255" data-bind="value: keyPassword" />
				</div>
				<div class="row">
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_KEY_PASSWORD_CONFIRM'}"></span>
					<input class="value input" autocomplete="new-password" type="password" spellcheck="false" maxlength="255" data-bind="value: keyPasswordConfirm" />
				</div>
			</div>
			<div class="buttons">
				<span class="button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_OK'}, click: encryptKey"></span>
				<span class="button secondary_button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CANCEL'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
