<div class="panel_top">
	<h2 class="settings_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SETTINGS_TAB'}"></h2>
</div>

<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row" data-bind="visible: !bIsHttpsEnable">
				<span data-bind="i18n: {'key': '%MODULENAME%/ERROR_HTTPS_NEEDED'}, style: {color: 'red'}"></span>
			</div>
			<div class="row">
				<label class="custom_checkbox" data-bind="css: {'checked': enableJscrypto}">
					<span class="icon"></span>
					<input type="checkbox" id="enableJscrypto" data-bind="checked: enableJscrypto" />
				</label>
				<label for="enableJscrypto" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ENABLE_JSCRYPTO'}"></label>
			</div>
			<div
				class="hint yellow-warning"
				data-bind="i18n: {'key': '%MODULENAME%/WARNING_PGP_KEYS_REQUIREMENT'},
					visible: !isPGPKeysAvailable()"
			></div>
			<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/HINT_ABOUT_JSCRYPTO'}"></div>
			<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/HINT_ENCRYPTED_FOLDER'}"></div>
			<div class="row" data-bind="visible: allowChangeSettings">
				<label class="custom_checkbox" data-bind="css: {'checked': enableInPersonalStorage}">
					<span class="icon"></span>
					<input type="checkbox" id="enableInPersonalStorage" data-bind="checked: enableInPersonalStorage" />
				</label>
				<label for="enableInPersonalStorage" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ALLOW_ENCRYPT_IN_PERSONAL_STORAGE'}"></label>
			</div>
			<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/HINT_ENCRYPT_IN_PERSONAL_STORAGE'}"></div>
		</div>
		<div class="buttons">
			<span class="button" data-bind="click: save, visible: !isSaving()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
			</span>
			<span class="button" data-bind="visible: isSaving()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
			</span>
		</div>
		<div class="fieldset keys" data-bind="visible: enableJscrypto">
			<div class="row" data-bind="visible: allowKeysManagement() && !keyName()">
				<span class="hint" data-bind="i18n: {'key': '%MODULENAME%/INFO_EMPTY_JSCRYPTO_KEY'}"></span>
			</div>
			<div class="row" data-bind="visible: allowKeysManagement() && keyName()">
				<span class="hint"  data-bind="i18n: {'key': '%MODULENAME%/HINT_ABOUT_KEY_EXPORT'}"></span>
				<br /><br />
				<div class="items_list folders">
					<div class="item">
						<span class="controls">
							<span class="button delete" data-bind="customTooltip: '%MODULENAME%/ACTION_DELETE_KEY', click: function () { removeJscryptoKey(); }"></span>
						</span>
						<span class="name">
							<span class="text" data-bind="i18n: {'key': '%MODULENAME%/LABEL_KEY'}"></span>: <span class="text" data-bind="text: keyName"></span>
						</span>
					</div>
				</div>
			</div>
			<div class="buttons" data-bind="visible: !allowKeysManagement()">
				<span class="button" data-bind="click: enableBackwardCompatibility">
					<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_ENABLE_BACKWARD_COMPATIBILITY'}"></span>
				</span>
			</div>
			<div class="buttons" data-bind="visible: allowKeysManagement()">
				<span data-bind="click: (bIsHttpsEnable  && enableJscrypto())  ? exportKey : false, visible: keyName(), css: {'disabled': !bIsHttpsEnable || isImporting() || !enableJscrypto()}" class="button">
					<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_EXPORT_KEY'}"></span>
				</span>
				<span data-bind="click: (bIsHttpsEnable  && enableJscrypto()  && !isImporting()) ? importFileKey : false, visible: !keyName(), css: {'disabled': !bIsHttpsEnable || isImporting() || !enableJscrypto()}" class="button">
					<span data-bind="i18n: {'key':  '%MODULENAME%/ACTION_IMPORT_FILE_KEY'}, visible: !isImporting()"></span>
					<span data-bind="i18n: {'key':  '%MODULENAME%/ACTION_IMPORT_KEY_IN_PROGRESS'}, visible: isImporting()"></span>
				</span>
				<span data-bind="click: (bIsHttpsEnable  && enableJscrypto()  && !isImporting()) ? importStringKey : false, visible: !keyName(), css: {'disabled': !bIsHttpsEnable || isImporting() || !enableJscrypto()}" class="button">
					<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_IMPORT_STRING_KEY'}"></span>
				</span>
				<span data-bind="click: (bIsHttpsEnable  && enableJscrypto()  && !isImporting()) ? generateNewKey : false, visible: !keyName(), css: {'disabled': !bIsHttpsEnable || isImporting() || !enableJscrypto()}" class="button">
					<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_GENERATE_NEW_KEY'}"></span>
				</span>
				<div style="height:0px;overflow:hidden">
					<input data-bind="event: { change: readKeyFromFile }" type="file" id="import-key-file" name="import-key-file" />
				 </div>
			</div>
		</div>
	</div>
</div>
