<div class="panel_top">
	<h2 class="settings_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SETTINGS_TAB'}"></h2>
</div>

<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row" data-bind="visible: !bIsHttpsEnable">
				<span data-bind="i18n: {'key': '%MODULENAME%/ERROR_HTTPS_NEEDED'}, style: {color: 'red'}"></span>
			</div>	
			<div class="row">
				<label class="custom_checkbox" data-bind="css: {'checked': EnableJscrypto}">
					<span class="icon"></span>
					<input type="checkbox" id="EnableJscrypto" data-bind="checked: EnableJscrypto" />
				</label>
				<label for="EnableJscrypto" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ENABLE_JSCRYPTO'}"></label>
			</div>
			<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/HINT_ABOUT_JSCRYPTO'}"></div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ENCRYPTION_MODE'}"></span>
				<span class="value">
					<label class="custom_radio" data-bind="css: {'checked': EncryptionMode() == Enums.EncryptionMode.Always, 'disabled': !bIsHttpsEnable || !EnableJscrypto()}">
						<span class="icon"></span>
						<input type="radio" id="tab_always" data-bind="checked: bIsHttpsEnable && EnableJscrypto() ? EncryptionMode : false, attr: {'value': Enums.EncryptionMode.Always}" />
					</label>
					<label for="tab_always" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ENCRYPTION_MODE_ALWAYS'}"></label>

					<label class="custom_radio" data-bind="css: {'checked': EncryptionMode() == Enums.EncryptionMode.AskMe, 'disabled': !bIsHttpsEnable || !EnableJscrypto()}">
						<span class="icon"></span>
						<input type="radio" id="tab_askme" data-bind="checked: bIsHttpsEnable && EnableJscrypto() ? EncryptionMode : false, attr: {'value': Enums.EncryptionMode.AskMe}" />
					</label>
					<label for="tab_askme" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ENCRYPTION_MODE_ASK'}"></label>

					<label class="custom_radio" data-bind="css: {'checked': EncryptionMode() == Enums.EncryptionMode.Never, 'disabled': !bIsHttpsEnable || !EnableJscrypto()}">
						<span class="icon"></span>
						<input type="radio" id="tab_never" data-bind="checked: bIsHttpsEnable && EnableJscrypto() ? EncryptionMode : false, attr: {'value': Enums.EncryptionMode.Never}" />
					</label>
					<label for="tab_never" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ENCRYPTION_MODE_NEVER'}"></label>
				</span>
			</div>
		</div>
		<div class="buttons">
			<span class="button" data-bind="click: save">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}, visible: !isSaving()"></span>
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}, visible: isSaving()"></span>
			</span>
		</div>
			
		<div class="fieldset keys">
			<div class="row">
				<span class="hint" data-bind="i18n: {'key': '%MODULENAME%/INFO_EMPTY_JSCRYPTO_KEY'}, visible: !key()"></span>
			</div>
			<div class="row" data-bind="visible: key()">
				<span class="hint"  data-bind="i18n: {'key': '%MODULENAME%/HINT_ABOUT_KEY_EXPORT'}"></span>
				<br /><br />
				<div class="items_list folders">
					<div class="item">
						<span class="controls">
							<span class="button delete" data-bind="customTooltip: '%MODULENAME%/ACTION_DELETE_KEY', click: function () {removeJscryptoKey(); }"></span>
						</span>
						<span class="name">
							<span class="text" data-bind="i18n: {'key': '%MODULENAME%/LABEL_KEY'}"></span>: <span class="text" data-bind="text: keyName"></span>
						</span>
					</div>
				</div>
			</div>
			<div class="buttons">
				<a class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_EXPORT_KEY'}, attr: {'href': downloadLinkHref, 'download': keyName() + '.txt'}, visible: downloadLinkHref() !== '#' && key()"></a>
				<span data-bind="click: (bIsHttpsEnable  && EnableJscrypto()  && !isImporting()) ? importFileKey : false, visible: !key(), css: {'disabled': !bIsHttpsEnable || isImporting() || !EnableJscrypto()}" class="button">
					<span data-bind="i18n: {'key':  '%MODULENAME%/ACTION_IMPORT_FILE_KEY'}, visible: !isImporting()"></span>
					<span data-bind="i18n: {'key':  '%MODULENAME%/ACTION_IMPORT_KEY_IN_PROGRESS'}, visible: isImporting()"></span>
				</span>
				<span data-bind="click: (bIsHttpsEnable  && EnableJscrypto()  && !isImporting()) ? importStringKey : false, visible: !key(), css: {'disabled': !bIsHttpsEnable || isImporting() || !EnableJscrypto()}" class="button">
					<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_IMPORT_STRING_KEY'}"></span>
				</span>
				<span data-bind="click: (bIsHttpsEnable  && EnableJscrypto()  && !isImporting()) ? generateNewKey : false, visible: !key(), css: {'disabled': !bIsHttpsEnable || isImporting() || !EnableJscrypto()}" class="button">
					<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_GENERATE_NEW_KEY'}"></span>
				</span>
				<div style="height:0px;overflow:hidden">
					<input data-bind="event: { change: readKeyFromFile }" type="file" id="import-key-file" name="import-key-file" />
				 </div>
			</div>
		</div>
	</div>
</div>
