.secure-image {
	border-radius: 5px;
	display: block;
	float: right;
	height: 24px;
	width: 24px;
	margin-right: 25px;
	margin-top: -90px;
	overflow: hidden;
	position: relative;
	background: #555;
	color: #fff;

	.init-icon-font();

	&:before {
		display: inline-block;
		font-size: 24px;
		height: 100%;
		width: 100%;
		content: "\e90a";
	}
 }

.confirm-file-list {
	overflow-y: auto;
	max-height: 400px;
}

.panels.settings {
	.panel.navigation_panel {
		.item.paranoid-encryption .icon:before {
			content: "\e90a";
		}
	}

	.keys {
		.buttons {
			margin: 0px !important;
			text-align: left;
		}
	}

	.hint.yellow-warning {
		background: #f9f4d0;
		border: 1px solid #d4ccb8;
		border-radius: 2px;
		text-shadow: none;
		color: #333;
	}
}

.storages_panel .title .icon.typeencrypted:before {
	content: "\e90a";
  }